<div class = "container">
  <h1>Repos</h1>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>

  <% @body.find do |item| %>
    Login Name: <%= item["owner"]["login"] %><br>
  <% end %>

  <% @body.each_with_index do |item, index| %>
      <%= "#{index + 1}. #{item["name"]}" %><br>
  <% end %>


</div>
